# public
torch>=1.2.0,!=1.3.0
torchvision
torchsummary
jsonnet>=0.10.0
numpy
scipy
scikit-learn
matplotlib>=2.2.3
seaborn
tensorboard
onnx

# tool
GPUtil
psutil
pyhocon
pynvml

gym[atari]
gym[box2d]
pydotplus

torchviz
pydot
graphviz
cairosvg
moviepy
sk-video

# rpc
zerorpc
python-consul
protobuf
